<br/><br/>

	<div class="container">		

		<!-- ========================================================================================================================================= -->
		<!-- IDLE zone -->
		<!-- ========================================================================================================================================= -->		
		
		<div *ngIf="status == 'IDLE'">
			
			<div class="row">
				<!-- content ---------------------------------------------------------------------------------------------------------------------------->
				<div class="col container">
					<div *ngIf="contentDefined" style="min-height: 300px" style="
						min-height: 300px;						
						display: flex; 
						 
						justify-content: center;">
						<img 
							id="contentImage" 
							class="img-thumbnail rounded" src=""
							style="max-height: 300px; width: auto;"  />                            				    
					</div>
					
					<div *ngIf="!contentDefined" style="
						min-height: 300px;						
						display: flex; 
						flex-direction: column; 
						justify-content: center;
						border-style: dashed;
						border-color: #bcc7d8;
						border-radius: 10px;">
						
						<label class="btn btn-primary btn-sm" style="margin-bottom: .0rem; align-self: center">
					    	Choose content file <input 
					    		type="file"	
					    		ng2FileSelect [uploader]="contentUploader"				    	
					    		style="display: none;" 
					    		(change)="contentImageChoosen($event)"/>
						</label>
					</div>
				</div>
				
				<!-- style ----------------------------------------------------------------------------------------------------------------------------->
				<div class="col container">
					<div *ngIf="styleConfProgress == 0 || styleConfProgress == 1 || styleConfProgress == 2" style="
						min-height: 300px;						
						display: flex; 
						flex-direction: column; 
						justify-content: center;
						border-style: dashed;
						border-color: #bcc7d8;
						border-radius: 10px;">
					
						<div *ngIf="styleConfProgress == 0" style="align-self: center">	
							<label 
								class="btn btn-primary btn-sm" 
								style="align-self: center" 
								(click) = "styleConfProgress01()">Configure style</label>
						</div>
						
							
						<div *ngIf="styleConfProgress == 1" style="align-self: center">						
							<div class="btn-group">
							  <label class="btn btn-primary" [(ngModel)]="styleType" 
							  	btnRadio="Gallery" (click)="styleConfProgress12();">Gallery</label>
							  <label class="btn btn-primary" [(ngModel)]="styleType" 
							  	btnRadio="Custom" (click)="styleConfProgress12();">Custom</label>						  
							</div>						
						</div>	
						
						<div *ngIf="styleConfProgress == 2" style="align-self: center">							
							<div *ngIf="styleType == 'Gallery'">
								<carousel interval="-1" [(activeSlide)]="galleryItem">
									<slide *ngFor="let gi of galleryItems">
										<img 
									    	style="max-height: 300px" 
									    	[src]="gi">
									    <div class="carousel-caption">
									    	<button class="btn btn-primary btn-sm"
									    		(click)="styleConfProgress23()">Select Style</button>
									    </div>
									</slide>																 
								</carousel>
								
							</div>
							 
							<div *ngIf="styleType == 'Custom'">
								<img 
									id="styleImage" 
									class="img-thumbnail rounded" src=""
									style="min-height: 260 px; max-height: 260px; width: auto;"  />
								
								<br/>									        															
								<label class="btn btn-primary btn-sm btn-block" style="margin-bottom: .0rem; align-self: center">
							    	Open file <input 
							    		type="file"	
							    		ng2FileSelect [uploader]="styleUploader"				    	
							    		style="display: none;" 
							    		(change)="styleImageChoosen($event)"/>							    																	    		
								</label>
								
								<div *ngIf="styleDefined && styleConfProgress == 2 && styleType == 'Custom'">
									<button class="btn btn-primary btn-sm btn-block"
										(click)="styleConfProgress23()">Configure transfer settings</button>
								</div>
								
							</div>
						</div>						
					</div>
				
					<div *ngIf="styleConfProgress == 3">							
							<h5>Transfer options:</h5>
							<h6>Gradient type:</h6>								
							<div class="btn-group">
									  <label class="btn btn-primary" [(ngModel)]="customStyleType" 
									  	btnRadio="Gradient">Gradient</label>
									  <label class="btn btn-primary" [(ngModel)]="customStyleType" 
									  	btnRadio="Patched">Patched</label>
							</div>
							<h6>Style weight:</h6>
							<span>slider here</span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<button 
						*ngIf="contentDefined"
						class="btn btn-primary btn-lg btn-block" (click)="resetContent();">Reset content</button>		
				</div>
				<div class="col">
					<button 
						*ngIf="styleConfProgress != 0"
						class="btn btn-primary btn-lg btn-block" (click)="resetStyle();">Reset style</button>
				</div>
			</div>
		
			<br/>
			
			<div *ngIf="contentDefined && styleDefined">
				<button class="btn btn-primary btn-lg btn-block" (click)="startTransfer()">Transfer</button>
			</div>
			
		</div>
		
		<!-- ========================================================================================================================================= -->
		<!-- TRNASFER zone -->
		<!-- ========================================================================================================================================= -->
		
		<div *ngIf="status == 'TRANSFER'">
			<div class="breadcrumb">
				<h4>Processing results</h4>
			</div>
			
			
            
            <div>
                Uploading content file:
                <div class="progress" style="">
                	<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': contentUploader.progress + '%' }"></div>
                </div>
            </div>                
            
            
            
            
            <div>
            	Uploading style:
                <div class="progress" style="">
                	<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': styleUploader.progress + '%' }"></div>
                </div>
            </div>                
            
            <br/>
           
           	<div *ngIf="transferStatus">
           		Neural Network is working:
           		<div class="progress">
           			<div 
           				class="progress-bar" 
           				role="progressbar"
           				[ngStyle]="{ 'width': transferStatus.current/transferStatus.total + '%' }">
           				<span class="text-center">{{transferStatus.current}}</span>           				
           			</div>
           		</div>
           		
           		<br/>
           		
           		<div style="display: flex; 
							flex-direction: column; 
							justify-content: center;
							text-align: center;">
           		
	           		<div *ngIf="!transferStatus.result">
	           			<label>Just a moment and magic will happen</label>	
	           		</div>
	           		
	           		<div *ngIf="transferStatus.result">
	           			<img class="img-thumbnail" [src]="resultTransferUrl"/>           			
	           		</div>
           		</div>
           		
           	</div>
           
			
		</div>
		
		<!-- ========================================================================================================================================= -->
		<!-- HANDLE zone -->
		<!-- ========================================================================================================================================= -->
						
		<div *ngIf="status == 'HANDLE'">
			Handle...
		</div>
	
</div> <!-- container -->